.pb-progress{
  height: 110px;
  top: 0px;
}
.pb-progress img{
  width: 200px;
  height: 110px;
}
.pb-background img{
  width: 200px;
  height: 110px;
}
#progressBarText{
  margin-top: 10px;
  font-family: "Mulish", sans-serif;
  /* text-align: center; */
  margin-left: 5%;
  
}
